version: 1.0.{build}
clone_folder: c:\projects\caffe
environment:
  matrix:      
    - MSVC_VERSION: 14
      WITH_NINJA: 0
      CMAKE_CONFIG: Release
      CMAKE_BUILD_SHARED_LIBS: 1
      PYTHON_VERSION: 3
      WITH_CUDA: 1
      BUILD_PYTHON_LAYER: 0
      BUILD_PYTHON: 0




build_script:
- cmd: >-
    call scripts\build_win.cmd

artifacts:
  - path: build\install
    name: caffe
